 

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)); */
    background: url('./Assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}